div.inputform{
    margin: 0 10px;
}
div.inputform form input{
    margin: 10px 0;
    padding: 3px 3px;
}
input.OK{
    width: 100px;
    background-color: rgb(255, 163, 129);
    border: #000 1px solid;
    border-radius: 5px;
}
div.inputform form input.yes{
    width: 100px;
    background-color: rgb(255, 163, 129);
    border: 1px solid #000;
    border-radius: 5px;
}
div.inputform form input.no{
    width: 100px;
    background-color: rgb(87, 249, 255);
    border: 1px solid #000;
    border-radius: 5px;
}
/*入力結果画面*/
div.endregist{
    height: 100%;
}
div.endregist a.tomypage{
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: coral;
    color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid #00000034;
}
